* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

/* --- Content --- */
.content {
    background-color: #FFFAF6;
    margin-left: 250px;
    padding: 25px;
    height: 100%;
    min-width: 500px;
}

.content #read-button, .content #delete-button {
    padding: 6px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #b3a093;
    border-radius: 10px;
    transition: box-shadow 0.2s;
}
.content #read-button:hover, .content #delete-button:hover {
    cursor: pointer;
    box-shadow: 0 0 3px #5a5a5a;
}

.giorno {
    color: #442108;
    margin-top: 15px;
    font-size: 18px;
}

#lista-notifiche {
    list-style-type: none;
    padding: 10px 0;
    min-width: 550px;
}

/* --- Singola notifica --- */

.notif-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Icona "da leggere" */
.notif-container > img {
    margin: 0 10px;
}

/* Immagine del profilo */
#lista-notifiche img {
    border-radius: 50px;
    margin-right: 10px;
}

.notif-wrapper img:hover {
    opacity: 0.6;
}

#lista-notifiche .notifica {
    width: 90%;
    border-radius: 10px;
    margin: 8px 0;
    background-color: #EAE0DA;
    transition: box-shadow 0.3s;
}

#lista-notifiche .notifica:hover {
    box-shadow: 0 0 5px #5a5a5a;
}

#lista-notifiche .notif-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 5px;
}

#lista-notifiche .notif-wrapper > a {
    display: inline-block;
}

#lista-notifiche .notifica .da-leggere {
    border: 3px solid #7d3e11;
    border-radius: 10px;
}

#lista-notifiche a {
    text-decoration: none;
    color: black;
}

#lista-notifiche .notif-content {
    width: 100%;
    font-size: 18px;
}

#lista-notifiche .notif-content .username:hover {
    color: #7c6662;
}

#lista-notifiche .notif-content p {
    display: inline-block;
}

#lista-notifiche .notif-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

#lista-notifiche .notif-details:hover {
    background-color: #f4f0ed;
}

.ora {
    font-size: 15px;
}