/* --------- Campanella delle notifiche --------- */

#bell-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
}

#bell-container {
     position: relative;
     margin-left: 95%;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     transition: background-color 0.2s;
 }

#bell-container:hover {
    cursor: pointer;
    background-color: #c2a998;
}

/* Icona della campanella */

#bell-container img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.with_notif {

    filter: brightness(0.1) invert(.6) sepia(.9) hue-rotate(320deg) saturate(300%)
    drop-shadow(1px 1px 0.5px #660000) drop-shadow(1px -1px 0.5px #660000) drop-shadow(-1px -1px 0.5px #660000) drop-shadow(-1px 1px 0.5px #660000)
    /*drop-shadow(-10px -10px 10px lightgray) drop-shadow(-10px 10px 10px lightgray) drop-shadow(10px -10px 10px lightgray) drop-shadow(10px 10px 10px lightgray)*/
}

/* Numero di notifiche non lette */

#notif-bell-number {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

#notif-bell-number > span {
    font-size: 18px;
    font-weight: bold;
}

/* Lista drop-down delle notifiche */

#notifiche-container {
     background-color: #b6a79c;
     box-shadow: 0 0 6px 1px #363533;
     border-radius: 10px;
     padding: 10px;
     margin: 0 10px;
     display: none;
     position: absolute;
     top: 65px;
     overflow-y: auto;
     max-height: 500px;
 }

/* Pulsante "Vedi tutto" */

#vedi-tutto {
    background-color: #EAE0DA;
    color: #3c1b03;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

#vedi-tutto:hover {
    cursor: pointer;
    background-color: #e0d3cc;
}

/* Notifica */

#notifiche-container .notifica {
    list-style-type: none;
    min-width: 400px;
    max-width: 500px;
    margin-top: 10px;
    background-color: #EAE0DA;
    border-radius: 10px;
}

#notifiche-container .notifica:hover .notif-details {
    background-color: #f4f0ed;
}

#notifiche-container .notifica a {
    color: black;
    text-decoration: none;
    padding: 10px 10px 3px;
    height: 100%;
    width: 100%;
    display: block;
}

#notifiche-container .notif-details {
    font-size: 16px;
    background-color: white;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 3px;
}

#notif-details-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notif-details hr {
    margin-bottom: 5px;
    margin-top: 2px
}

#notifiche-container .data-ora {
    font-size: 15px;
    margin-left: 2px;
}

#notifiche-container .da-leggere {
    border: 3px solid #895732;
}

/* Nessuna nuova notifica */

#no-new-notif {
    font-size: 18px;
    margin: 10px 5px;
}