/* --------- Sidebar --------- */

.sidebar {
    z-index: 99;
    position: fixed;
    background-color: #EAE0DA;
    width: 250px;
    height: 100%;
    padding: 30px 20px;
}

.sidebar ul {
    list-style-type: none;
    margin: 20px 0;
}

.sidebar .sidebar-li {
    border-radius: 5px;
}

.sidebar .sidebar-link {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    border-radius: 5px;
}

/* --- Username --- */

.sidebar .username {
    margin-bottom: 10px;
}

.sidebar .username-link {
    text-decoration: none;
    color: black;
}

.sidebar .username-link b {
    color: brown;
}

.sidebar .username-link b:hover {
    color: #bf5555;
}

/* --- Opzioni della sidebar --- */

.sidebar .notif {
    background: url('../images/notif.png') no-repeat 5% 50%;
    background-size: 20px;
}

.sidebar .settings {
    background: url('../images/settings.png') no-repeat 5% 50%;
    background-size: 20px;
}

.sidebar span {
    margin-left: 50px;
    font-size: 18px;
}

.sidebar .sidebar-li:hover {
    background-color: #FFFAF6;
}

.sidebar .active {
    background-color: #FFFAF6;
}